.photo{
    width: 25%;
    height: 25%;
}
.stack{
    margin-top: 30px;
    margin-bottom: 30px;
}
.item{
    margin-right: 2px;
}

.item:last-child{
    margin-right: 0;
}

@media screen and (max-width: 400px) {
    .container{
        flex-wrap: wrap;
    }
    .photo{
        margin: auto;
        width: 70%;
        height: 70%;
    }
}